@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", "Big Shoulders Display", sans-serif;
  font-size: 15px;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-lightgray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--very-lightgray);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: var(--very-lightgray);
}

p {
  color: var(--transparent-white);
  line-height: 1.8;
  width: 80%;
}

.container {
  max-width: 960px;
  height: 560px;
  display: flex;
}

.card-container {
  width: 33.3%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 35px;
}

.card-1 {
  background-color: var(--bright-orange);
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
}

.card-2 {
  background-color: var(--dark-cyan);
}

.card-3 {
  background-color: var(--very-dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-container img {
  width: 25%;
}

button {
  width: 60%;
  margin-top: 45px;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
}

.card-1 button {
  color: var(--bright-orange);
}

.card-2 button {
  color: var(--dark-cyan);
}
.card-3 button {
  color: var(--very-dark-cyan);
}
button:hover {
  background-color: transparent;
  border: 2px solid var(--very-lightgray);
  color: #fff;
}

@media (max-width: 740px) {
  .container {
    flex-direction: column;
  }
  .card-container {
    width: 80%;
    margin: 0 auto;
    padding-left: 45px;
  }
  .card-1 {
    border-top-right-radius: 10px;
    border-end-start-radius: unset;
  }
  .card-3 {
    border-top-right-radius: unset;
    border-bottom-left-radius: 10px;
  }
  .card-container img,
  h2 {
    margin-top: 50px;
  }
  .card-container p {
    margin-top: 25px;
  }
  button {
    margin-bottom: 50px;
  }
}
